@import "webstatic:/static/global.less";

@stlViewWidth: 1024px;
@contentBackgroundColor: #fff; // white

.stl-view {
    width: @stlViewWidth;
    margin: 0 auto -5px;

    .stl-toolbar-container {
        background-color: @contentBackgroundColor;
        padding: 10px 0;

        .stl-view-toggle {
            text-align: center;
            width: 100%;
            .aui-buttons {
                float: none;
            }
            .aui-button {
                margin-top: 0;
            }
        }
    }
}

.stl-file {
    background-color: #f5f5f5;
    color: #235587;
}